<h2 class="text-dark mt-3 ms-2 p-2">Welcome {{user}}</h2>

<div class="row">
    <div class="col-6 p-5"><form  style="background-color: rgba(25, 25, 26, 0.603);" action="" class="p-4 w-50 container text-center rounded-5 border" >
        <h1 class="text-center" style="color:rgb(255, 255, 255) ;">Deposit</h1>
        <input  id="u1" name="uname1" type="text" style=" outline: none;" class="form-control mt-4 mb-4 p-2" placeholder="Account Number">
        <input  id="p1" name="pass1" type="password" class="form-control mt-4 mb-4 p-2" placeholder="Enter Password" >
        <input  id="am1" name="amount1" type="text" style=" outline: none;" class="form-control mt-4 mb-4 p-2" placeholder="Amount">
        <button type="submit" class="mt-4 p-2 btn btn-light">Deposit</button>
    </form></div>
    <div class="col-6 p-5"><form  style="background-color: rgba(25, 25, 26, 0.603);" action="" class="p-4 container w-50  text-center rounded-5 border" >
        <h1 class="text-center" style="color:rgb(255, 255, 255) ;">Withdraw</h1>
        <input  id="u2" name="uname2" type="text" style=" outline: none;" class="form-control mt-4 mb-4 p-2" placeholder="Account Number">
        <input  id="p2" name="pass2" type="password" class="form-control mt-4 mb-4 p-2" placeholder="Enter Password" >
        <input  id="am2" name="amount2" type="text" style=" outline: none;" class="form-control mt-4 mb-4 p-2" placeholder="Amount">
        <button type="submit" class="mt-4 p-2 btn btn-light">Withdraw</button>
    </form></div>
</div>